:root {
  --nav-border: #10273f;
  --theme-system: #0c2036;
  --nav-text: #abc1d0;
  --text: #ffffff;

  --primary-light: #dae5fc;
  --primary-dark: #9dbff9;

  --secondary-light: #2c5270;
  --secondary-dark: #1b354b;

  --light-bg-image: linear-gradient(45deg, var(--primary-light), var(--primary-dark));
  --dark-bg-image: linear-gradient(45deg, var(--secondary-light), var(--secondary-dark));

  --border-radius: .4rem;
}
/* 
#home-page-container
  #english-level-section

  #translate-section
    #translate-section h3
    #translate-form
      #translate-input
      #voice-translation
        #voice-translation img

  #home-page-scroller .scroller
    .scroller-inner
      .scroller-inner li
        .scroller-nav-item


*/

/* General Styles */

img {
  height: 1rem;
}

* {
  color: var(--secondary-dark);
}

label[for="english-level"],
#translate-section h3 {
  color: var(--text);
}
/* <main> layout */

#home-page-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#english-level-section {
  display: block;
  width: 100%;
}
#english-level {
  background-color: var(--primary-light);
}
label[for="english-level"] {
  margin-left: 1rem;
}

#translate-section {
  display: flex;
  flex-flow: column nowrap;

  width: 50%;
  margin-top: 3rem;
}

#translate-section h3 {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-light);
  font-size: 1.25rem;
}

#translate-form {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;

  margin-top: .5rem;
}
#translate-input {
  grid-column: 1 / span 9;
  grid-row: 1;

  padding: 2rem;
  font-size: 1.1rem;
  color: var(--secondary-dark);
}
#voice-translation {
  grid-column: 9;
  grid-row: 1;

  background-color: transparent;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#voice-translation img {
  grid-column: 1;
  grid-row: 1;
  
  height: 1.3rem;
  align-self: center;
}

#home-page-scroller {
  margin-top: 5%;
}
#home-page-scroller[data-animated="true"] {
  width: 70%;
}
#home-page-scroller[data-animated="false"] {
  width: 100%;
}
#home-page-scroller[data-animated="false"] .scroller-inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.scroller-inner li {
  margin: 1rem;
  width: 12rem;
  height: 6rem;

  background-image: var(--light-bg-image);
  font-size: 1.3rem;
  font-weight: bold;

  transition: transform .13s ease;
}
.scroller-inner li:hover {
  transform: scale(1.05);
}
.scroller-inner li:active {
  transform: scale(1.1);
}
.scroller-nav-item {
  display: inline-block;
  width: 100%;
  height: 100%;

  align-content: center;
  text-align: center;
}