:root {
  --nav-border: #10273f;
  --theme-system: #0c2036;
  --nav-text: #abc1d0;
  --text: #ffffff;

  --primary-light: #dae5fc;
  --primary-dark: #9dbff9;

  --secondary-light: #2c5270;
  --secondary-dark: #1b354b;

  --light-bg-image: linear-gradient(45deg, var(--primary-light), var(--primary-dark));
  --dark-bg-image: linear-gradient(45deg, var(--secondary-light), var(--secondary-dark));

  --border-radius: .4rem;
}
/* 
#home-page-container
  #english-level-section

  #translate-section
    #translate-section h3
    #translate-form
      #translate-input
      #voice-translation
        #voice-translation img

  #home-page-carousel .scroller
    .scroller-inner
      .scroller-inner li
        .carousel-nav-item


*/

/* General Styles */

img {
  height: 1rem;
}

/* <main> layout */

#home-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#english-level-section {
  grid-column: 1 / span 6;
  grid-row: 1;
}

#translate-section {
  grid-column: 5 / span 5;
  grid-row: 3 / span 5;

  display: flex;
  flex-flow: column nowrap;
}

#translate-section h3 {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-light);
  font-size: 1.25rem;
}

#translate-form {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;

  margin-top: .5rem;
}
#translate-input {
  grid-column: 1 / span 9;
  grid-row: 1;

  padding: 2rem;
  font-size: 1.1rem;
  color: var(--secondary-dark);
}
#voice-translation {
  grid-column: 9;
  grid-row: 1;

  background-color: transparent;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#voice-translation img {
  grid-column: 1;
  grid-row: 1;
  
  height: 1.3rem;
  align-self: center;
}

#home-page-carousel {
  grid-column: 4 / span 7;
  grid-row: 9 / span 4;
}

.scroller-inner li {
  background-image: var(--light-bg-image);
  padding: 2rem 4rem;
}



/* Create a Moving Carousel for main page nav */

/*  */

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
                                90deg, 
                                transparent, 
                                white 20%, 
                                white 80%,
                                transparent );
  mask: linear-gradient(
                         90deg, 
                         transparent, 
                         white 20%, 
                         white 80%,
                         transparent );
}
/**
 * var(--_animation-duration, 40s)
 if '-_animation-duration' is not declared, it defaults to '40s'
 */
.scroller[data-animated="true"] .scroller-inner {
  flex-wrap: nowrap;
  width: fit-content;
  animation: scroll 10s linear infinite;
}
/* .scroller[data-direction="right"] {
  --animation-direction: reverse;
} *//* not needed */

.scroller-inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
















/* 
logos: main-page-carousel
logos-slide: main-page-carousel ul
*/



/* Container:
home-page-container

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
*/

/* sections:
english-level-section
translate-section
    translate-form
main-page-carousel nav ul
*/

/* Details:
translate-section h3
translate-form
translate-input
voice-translation

main-page-carousel

home-game-link
home-vocabulary-link
home-saved-link
home-grammar-link
home-search-history-link
*/
