:root {
  --light-mode: #f0f4f8;
  --dark-mode: #1c2e4a;
  
  --primary-selection-light: #e1eff6;
  --secondary-selection-light: #c8e1f3;
  --accent-selection-light: #007bff;

  --primary-selection-dark: #2a3b5d;
  --secondary-selection-dark: #34495e;
  --accent-selection-dark: #49a9ee;

  --dictionary-input-height: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--text);
}

select,
input,
button {
  padding: var(--common-padding);
}
button {
  cursor: pointer;
}
button:hover {
  scale: 1.05;
}
button:active {
  scale: 1.1;
}


/* Create a Moving Carousel for main page nav */

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
                                90deg, 
                                transparent, 
                                white 20%, 
                                white 80%,
                                transparent );
  mask: linear-gradient(
                         90deg, 
                         transparent, 
                         white 20%, 
                         white 80%,
                         transparent );
}

.scroller[data-animated="true"] .scroller-inner {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: scroll 40s linear infinite;
}

.scroller[data-animated="true"] .scroller-inner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}